---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

The publication list below is updated. You can also check my <a href="https://scholar.google.com/citations?user=EX71uhUAAAAJ&hl=en&authuser=3">Google Scholar profile</a>.

<script src="https://bibbase.org/show?bib=https%3A%2F%2Fbibbase.org%2Fnetwork%2Ffiles%2FFN7qtpEepHctJwuAr&noBootstrap=1&jsonp=1&owner=none"></script>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
